main {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 10rem);
    justify-content: center;
    align-content: center;
    gap: 1rem;
    padding: 1rem;
}

.card-group,
img,
.hero-name {
    border-radius: 1rem;
    width: 9rem;
    height: auto;
    text-align: center;
}

img {
    padding: 0.5rem;
}

.card-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #1d0d0b, #5c110b);
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
        rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.hero-name {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
}

.card-group:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
    cursor: pointer;
}

@media (max-width: 1200px) {
}

@media (max-width: 750px) {
}
